

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    color: rgb(7, 125, 125);

}

nav ul li a {
    text-decoration: none;
    color: black;
}
body {
        font-family: 'Roboto', sans-serif;
    }

body.main-body {
    font-family: 'Roboto', sans-serif;
}

h1.title {
    color: #333;
}

nav.main-nav {
    background-color: #f8f7f7;
    padding: 10px;
}

ul.nav-list {
    list-style-type: none;
    padding: 0;
}

li.nav-item {
color: white;
padding: 16px 32px;
text-align: center;
  background-color: #969595;
  border-radius: 20px;
    margin-right: 30px;
    cursor: pointer;
}

a.nav-link {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #969595;
   
}

a.nav-link:hover {
    text-decoration: none;
    cursor:pointer;
    color: white;
    background-color: #969595;
}

img.profile-img {
    width: 1450px;
    height: 600px;
    border-radius: 0%;
}
.container {
  position: relative;
  width: fit-content;
  display: inline-block;
}
.profile-img {
  display: block;
}
.title1 {
    position: absolute;
    top: 0;
    left: 0;
   color: white;
    font-weight: bold;
    font-size: 60px;
    padding: 100px;
}
footer.main-footer {
    text-align: center;
    margin-top: 20px;
}

p.footer-text {
    color: #666;
}

